.Nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: salmon;
    border-bottom: 3px solid #444;
}
.NavTitle {
    font-size: 3rem;
    color: lightgoldenrodyellow;
}
.NumGuess {
    color: #444;
}